.body-container {
  width: 90%;

  display: flex;
}
@media screen and (max-width: 767px) {
  .body-container {
    flex-direction: column;
  }
}
.left-container {
  height: 100%;
  background-color: #cbd5e1;
  padding: 15px;
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .left-container {
    width: 100%;
  }
}
.lr-heading {
  color: rgba(0, 0, 0, 0.671);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}
.content-container {
  height: 100%;
  background-color: #f1f5f9;
  padding: 15px;
}
.content-heading {
  color: rgba(0, 0, 0, 0.671);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}
.body-content {
  color: rgba(0, 0, 0, 0.671);
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}
.right-container {
  height: 100%;
  background-color: #cbd5e1;
  padding: 15px;
  margin-left: 5px;
}
.rs-ad-container {
  width: 100px;
  height: 100px;
  border: 1px solid #475569;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.ad-heading {
  color: rgba(0, 0, 0, 0.671);
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}
